$spacer: 1rem !default;


body {
  margin: 0;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2e2e2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.px-10 {
  padding-left: ($spacer * 6) !important;
  padding-right: ($spacer * 6) !important;
}

.card {
  border-radius: 15px !important;
}

.alertContainer {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 50vw;
  padding-top: 10vw;
  z-index: 3;
}

.box {
  transition: box-shadow .3s;
  cursor: pointer;
}
.box:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2); 
}

.btn-block {
  width: 100% !important;
}

.text-justify {
  text-align:  justify !important;
}

.bordered {
  border: 1px solid rgba(0,0,0,.1) !important;
  border-radius: 15px !important;
}

.spinner-center {
  width: 90%;
  margin: auto;
  margin-top: 25vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detailed-img {
  height: 20rem !important;
}

.pagination {
  width: fit-content;
  margin: auto;
}